body {
    background-color: #121212;
    color: #e0e0e0;
  }
  
  .card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-body {
    text-align: center;
  }
  
  .navbar {
    margin-bottom: 20px;
  }
  .card-img-top {
    width: 100%;
    height: 300px; /* Ajusta a altura para manter o mesmo tamanho para todas as imagens */
    object-fit: cover; /* Garante que as imagens sejam cortadas proporcionalmente */
    border-radius: 8px; /* Cantos levemente arredondados */
  }
  
  .card {
    height: 100%; /* Faz com que os cartões tenham a mesma altura */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .btn {
    margin-top: 10px;
  }
  